$nav_color: white;
$nav_bgc: rgb(2, 6, 31);
$nav_height: 100px;
$nav_zindex: 1000;

$button-color: gray;
$button-text-color: white;
$button-border: black;

html {
    scroll-behavior: smooth;
    scroll-padding-top: $nav_height + 50px;
    padding-top: $nav_height + 50px;
}
body {
    margin: 0;
    padding: 0;
    min-width: 280px;
    font-family: sans-serif;
    li {
        list-style-type: none;
    }
    box-sizing: border-box;
    * {
        // border: 1px solid red;
    }
}
header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $nav_bgc;
    color: $nav_color;
    height: $nav_height;
    z-index: $nav_zindex;
    background-image: url(./img/bg.jpg);
    background-size: 100% 150px;
    background-repeat: no-repeat;
  
    ul {
        position: absolute;
        margin: 10px 0 0 20px;
        min-width: 250px;
        @media (max-width: 480px) {
            margin: 5px 0 0 10px;
        }
        padding: 5px;
        padding-left: 10px;
        font-size: 1.1em;
        font-weight: bold;
        font-style: italic;
        background: linear-gradient(to right, black, transparent);
        .contacts {
            display: flex;
            margin-top: 7px;
            @media (max-width: 900px) {
                flex-wrap: wrap;
            }
            span {
                img {
                    height: 1.5em;
                }
                display: inline-flex;
                align-items: center;
                margin-right: 10px;
            }
        }
        @media (max-width: 900px) {
        font-size: 0.9em;
        }
    }
}

.scroll-image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 45%;
    @media (max-width: 768px) {
        width: 95%;
    }
    img {
        max-width: auto;
        position: absolute;
        left: 5px;
    }
}

.slider {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 500px;
    height: 300px;
    .img {
        position: absolute;
        left: 0;
        top: 0;
    }
    .next-img {
        position: absolute;
        left: 0;
        top: 0;
    }
}

main {
    width: 60%;
    @media (max-width: 992px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 95%;
    }
    margin: auto;
    p {
        margin: 0;
        margin-bottom: 10px;
    }
    .chapter {
        margin: 20px 0;
        padding: 10px;
        .code-example {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: space-around;
            padding: 10px;
        }
    }
}